<li *ngIf="cartItems.length > 0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sepetiniz  <span class="badge bg-secondary">{{cartItems.length}} </span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let cartItem of cartItems"><a class="dropdown-item" href="#">
        <span class="badge bg-secondary">{{cartItem.quantity}} </span>
        {{cartItem.product.productName}} <span class="badge bg-secondary" (click)="removeFormCart(cartItem)">Sil</span></a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">
        <button class="btn btn-primary">Sepete Git</button>
      </a></li>
   
    </ul>
 
  </li>
